In [175]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [190]:
columns = ['company_name', 'job_role', 'job_location', 'salary', 'skills','company_rating']
df = pd.DataFrame(columns=columns)

In [192]:
try:
    with open('./data/0.html', encoding='utf-8') as f:
        html_doc = f.read()
    soup = BeautifulSoup(html_doc, 'html.parser')

    
    job_cards = soup.find_all('div', attrs={'class': 'JobCard_jobCardContainer__arQlW'})
    
    for job_card in job_cards:
        
        company_names = job_card.find('span', attrs={'class': 'EmployerProfile_compactEmployerName__9MGcV'})
        job_role = job_card.find('a', attrs={'class': 'JobCard_jobTitle__GLyJ1'})
        job_location = job_card.find('div', attrs={'class': 'JobCard_location__Ds1fM'})
        salary = job_card.find('div', attrs={'class': 'JobCard_salaryEstimate__QpbTW'})
        skills_div = job_card.find('div', string=lambda x: x and 'Skills' in x)
        rating= job_card.find('span', attrs={'class': 'rating-single-star_RatingText__XENmU'})  
        
        
        
        company_name_text = company_names.text.strip() if company_names else None
        job_role_text = job_role.text.strip() if job_role else None
        job_location_text = job_location.text.strip() if job_location else None
        salary_text = salary.text.strip() if salary else None
        skills_text = skills_div.text.replace('Skills', '').strip() if skills_div else None
        rating_text=rating.text if rating else None
        
        
        job_data = {
            'company_name': company_name_text,
            'job_role': job_role_text,
            'job_location': job_location_text,
            'salary': salary_text,
            'skills': skills_text,
            'company_rating':rating_text
        }
        
        
        df.loc[len(df)] = job_data

except Exception as e:
    print(e)

In [193]:
df

,company_name,job_role,job_location,salary,skills,company_rating
0,Indeed,Senior Product Scientist,Remote,₹34L - ₹51L (Employer Est.),None,None
1,Ecowiser,Data Science Intern,Remote,₹12T - ₹18T (Employer Est.),None,5.0
2,Interesting Engineering Inc,Audience Engagement Analyst,Remote,None,None,None
3,Citi,Apps Dev Intermed Prgmr Anlyst - C11 - CHENNAI,Chennai,₹7L - ₹10L (Glassdoor Est.),None,3.7
4,Inventive In Tech,Teaching Faculty For Artificial Intelligence/d...,India,₹20T (Employer Est.),None,None
...,...,...,...,...,...,...
895,Dicetek LLC,Data Engineer,Remote,None,None,4.3
896,General Electric,Intern,Bengaluru,None,None,4.1
897,Selco Foundation,Data Coordinator,Bengaluru,₹6L - ₹8L (Glassdoor Est.),None,3.2
898,MiQ Digital,Manager Data Science,Bengaluru,₹2L - ₹10L (Glassdoor Est.),None,3.5
899,Saaki Argus & Averil Consulting,Data Scientist - Analytics,Hyderābād,₹2L - ₹4L (Glassdoor Est.),None,3.4